openapi: 3.0.3
info:
  title: Strike Market Data API
  description: |
    Public market-data endpoints served by the Price Service.
    Base path: `/v2`
  version: 2.0.0
  contact:
    name: Strike Finance
    url: https://www.strikefinance.org
  x-gitbook-description-document:
    object: document
    data:
      schemaVersion: 9
    nodes:
      - object: block
        type: paragraph
        isVoid: false
        data: {}
        nodes:
          - object: text
            leaves:
              - object: leaf
                text: >-
                  Public market-data endpoints served by the Price Service. Base
                  path:
                marks: []
              - object: leaf
                text: /v2
                marks:
                  - object: mark
                    type: code
                    data: {}
            key: 2dQgJUTBk2Xc
        key: 71DE0ERUStjD
    key: kp2FFCOm8OK4
  x-gitbook-description-html: >-
    <p>Public market-data endpoints served by the Price Service. Base path:
    <code>/v2</code></p>
servers:
  - url: https://api.strikefinance.org/price
    description: Mainnet
    x-gitbook-description-html: <p>Mainnet</p>
  - url: https://api-v2-testnet.strikefinance.org/price
    description: Testnet
    x-gitbook-description-html: <p>Testnet</p>
tags:
  - name: Order Book
    description: Order book depth snapshots
    x-gitbook-description-document:
      object: document
      data:
        schemaVersion: 9
      nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
            - object: text
              leaves:
                - object: leaf
                  text: Order book depth snapshots
                  marks: []
              key: 5D4QvXcceGja
          key: fNFFjOz2TsFU
      key: ZnxT6qYEecXM
    x-gitbook-description-html: <p>Order book depth snapshots</p>
  - name: Trades
    description: Recent trade data
    x-gitbook-description-document:
      object: document
      data:
        schemaVersion: 9
      nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
            - object: text
              leaves:
                - object: leaf
                  text: Recent trade data
                  marks: []
              key: ZTRugFseqNqh
          key: CMAHg4sYRD0d
      key: gT14eYJyjgsA
    x-gitbook-description-html: <p>Recent trade data</p>
  - name: Prices
    description: Mark price, index price, and funding rate
    x-gitbook-description-document:
      object: document
      data:
        schemaVersion: 9
      nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
            - object: text
              leaves:
                - object: leaf
                  text: Mark price, index price, and funding rate
                  marks: []
              key: 2bEsr3njGf3D
          key: 9Tm0tGMXJeNS
      key: lhW734rUJL2U
    x-gitbook-description-html: <p>Mark price, index price, and funding rate</p>
  - name: Ticker
    description: Rolling statistics, latest price, and best bid/ask
    x-gitbook-description-document:
      object: document
      data:
        schemaVersion: 9
      nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
            - object: text
              leaves:
                - object: leaf
                  text: Rolling statistics, latest price, and best bid/ask
                  marks: []
              key: EUrFFJRqbjf8
          key: RmyzPweUjpnJ
      key: rZtf9LWlZ0Vq
    x-gitbook-description-html: <p>Rolling statistics, latest price, and best bid/ask</p>
  - name: Exchange Info
    description: Trading rules and symbol information
    x-gitbook-description-document:
      object: document
      data:
        schemaVersion: 9
      nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
            - object: text
              leaves:
                - object: leaf
                  text: Trading rules and symbol information
                  marks: []
              key: EpeszDcbrSSl
          key: 7cO8q9Gxmh0P
      key: JnVcpfpFCHSh
    x-gitbook-description-html: <p>Trading rules and symbol information</p>
  - name: Open Interest
    description: Open interest data
    x-gitbook-description-document:
      object: document
      data:
        schemaVersion: 9
      nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
            - object: text
              leaves:
                - object: leaf
                  text: Open interest data
                  marks: []
              key: D6aFBSIeWrHY
          key: vLxRgFpCmOBq
      key: ShoQcVEMllZg
    x-gitbook-description-html: <p>Open interest data</p>
x-tagGroups:
  - name: Market
    tags:
      - Order Book
      - Trades
      - Prices
      - Ticker
      - Exchange Info
      - Open Interest
paths:
  /v2/depth:
    get:
      tags:
        - Order Book
      summary: Order Book Depth
      description: >
        Returns a snapshot of the current order book for a given symbol.


        ### Field semantics


        | Field          | Type     | Description |

        |----------------|----------|-------------|

        | `lastUpdateId` | uint64   | Monotonically increasing sequence ID
        assigned by the matching engine (`ctx.SequenceID`). This is a **real
        update ID**, not a placeholder or timestamp. |

        | `E`            | int64    | Snapshot event time — Unix milliseconds
        when the matching engine produced the snapshot. |

        | `T`            | int64    | Transaction time — same value as `E` for
        this endpoint. Represents when the orderbook state was captured, **not**
        the server response time. |

        | `bids`         | string[][] | Bid levels sorted best (highest) first.
        Each entry is `[price, quantity]`. |

        | `asks`         | string[][] | Ask levels sorted best (lowest) first.
        Each entry is `[price, quantity]`. |


        ### Synchronising a local order book with WebSocket


        1. **Initialise** — fetch this endpoint and record `lastUpdateId`.

        2. **Connect** to the WebSocket stream `{symbol}@depth`.

        3. **Drop** any WS `depthUpdate` event where `u <= lastUpdateId`.

        4. **Apply** all subsequent events to update your local book.


        > **Important:** per-symbol `+1` continuity between consecutive `u`
        values

        > is **not** guaranteed — the engine may skip IDs when no book change
        occurs.

        > Do **not** treat a gap as a missed update.


        ### JS / TS consumers


        `lastUpdateId` (and the WS fields `U` / `u`) can exceed
        `Number.MAX_SAFE_INTEGER`.

        Always parse them with a BigInt-safe method:


        ```ts

        // When parsing the REST response

        const data = JSON.parse(text, (key, value) => {
          if (key === "lastUpdateId") return BigInt(value);
          return value;
        });


        // When parsing WS depthUpdate messages

        const msg = JSON.parse(text, (key, value) => {
          if (key === "U" || key === "u") return BigInt(value);
          return value;
        });

        ```


        ### Caching


        Responses are cached server-side for **5 seconds** (short-TTL).

        The `X-Cache` response header indicates `HIT` or `MISS`.
      parameters:
        - name: symbol
          in: query
          required: true
          schema:
            type: string
          example: BTC-USDT
          description: Trading pair symbol.
          x-gitbook-description-html: <p>Trading pair symbol.</p>
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 20
          description: |
            Maximum number of bid/ask levels to return (each side).
            Clamped to 1000.
          x-gitbook-description-html: |-
            <p>Maximum number of bid/ask levels to return (each side).
            Clamped to 1000.</p>
      responses:
        "200":
          description: Order book snapshot
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderBookResponse"
              example:
                lastUpdateId: 1027024
                E: 1700000000000
                T: 1700000000000
                bids:
                  - - "43250.10"
                    - "0.500"
                  - - "43250.00"
                    - "1.200"
                asks:
                  - - "43250.20"
                    - "0.300"
                  - - "43251.00"
                    - "2.100"
          x-gitbook-description-html: <p>Order book snapshot</p>
        "400":
          description: Missing or invalid symbol
          content:
            application/json:
              example:
                code: MISSING_PARAMETER
                msg: symbol parameter is required
          x-gitbook-description-html: <p>Missing or invalid symbol</p>
        "500":
          description: Internal error
          content:
            application/json:
              example:
                code: INTERNAL_ERROR
                msg: failed to retrieve orderbook
          x-gitbook-description-html: <p>Internal error</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: >-
                      Returns a snapshot of the current order book for a given
                      symbol.
                    marks: []
                key: 6ejVG2BYWlwT
            key: Wj1P1RFhwdBt
          - object: block
            type: heading-3
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: Field semantics
                    marks: []
                key: qJ675J2KwqX2
            key: nDmU55C8mVEu
          - object: block
            type: table
            isVoid: true
            data:
              records:
                NSVIY87tYha1:
                  orderIndex: "0|hzzzdj:"
                  values:
                    kQPEk852bURQ: CxmAauKysQbK
                    xzVraK1rWfeg: KzngHG2shgpc
                    oiKOxDIAd1nG: cfD2q6WdY7D5
                To5VNgDCCZrB:
                  orderIndex: "0|hzzzl3:"
                  values:
                    kQPEk852bURQ: 2YcDRukUQBen
                    xzVraK1rWfeg: 84jkFqbb0067
                    oiKOxDIAd1nG: 59uUqNnPtnBM
                IHNH5LwVG4kw:
                  orderIndex: "0|i00067:"
                  values:
                    kQPEk852bURQ: 74mFkUOhq4mZ
                    xzVraK1rWfeg: vGtp5JTQnTzt
                    oiKOxDIAd1nG: spUumqc1Ttbs
                ay56iQ9QsuE3:
                  orderIndex: "0|i000b3:"
                  values:
                    kQPEk852bURQ: WMTOaPsGnc5D
                    xzVraK1rWfeg: OBZ2JuBa71DG
                    oiKOxDIAd1nG: 3sxUGaB1hweX
                27VNXQHBnSEn:
                  orderIndex: "0|i000qn:"
                  values:
                    kQPEk852bURQ: 5m71FII3PsJJ
                    xzVraK1rWfeg: C1e6eVSpr7oC
                    oiKOxDIAd1nG: db8c02zKdOQj
              definition:
                kQPEk852bURQ:
                  id: kQPEk852bURQ
                  title: Field
                  type: text
                  textAlignment: left
                xzVraK1rWfeg:
                  id: xzVraK1rWfeg
                  title: Type
                  type: text
                  textAlignment: left
                oiKOxDIAd1nG:
                  id: oiKOxDIAd1nG
                  title: Description
                  type: text
                  textAlignment: left
              view:
                type: grid
                columns:
                  - kQPEk852bURQ
                  - xzVraK1rWfeg
                  - oiKOxDIAd1nG
                useNewSizing: true
                hideHeader: false
                columnWidths: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: ""
                    marks: []
                key: SkyyC6GwDR1j
            key: svaFLrGn3sbp
            fragments:
              - object: fragment
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: lastUpdateId
                            marks:
                              - object: mark
                                type: code
                                data: {}
                        key: I9K7bKTPAhAV
                    key: I6koAMULdLbc
                key: z3lxvhJYl30R
                fragment: CxmAauKysQbK
                type: table-cell
              - object: fragment
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: uint64
                            marks: []
                        key: 7FsPxTn4rwdV
                    key: 6sFKzkHetH1e
                key: 5FwKC9y9cEVM
                fragment: KzngHG2shgpc
                type: table-cell
              - object: fragment
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: >-
                              Monotonically increasing sequence ID assigned by
                              the matching engine (
                            marks: []
                          - object: leaf
                            text: ctx.SequenceID
                            marks:
                              - object: mark
                                type: code
                                data: {}
                          - object: leaf
                            text: "). This is a "
                            marks: []
                          - object: leaf
                            text: real update ID
                            marks:
                              - object: mark
                                type: bold
                                data: {}
                          - object: leaf
                            text: ", not a placeholder or timestamp."
                            marks: []
                        key: WtYn278D6gin
                    key: xiXaqCsVELMR
                key: aKGU6VaBks6n
                fragment: cfD2q6WdY7D5
                type: table-cell
              - object: fragment
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: E
                            marks:
                              - object: mark
                                type: code
                                data: {}
                        key: Y1fA155RVkVY
                    key: z2O0wvZyV8dB
                key: OTd315KHvVJC
                fragment: 2YcDRukUQBen
                type: table-cell
              - object: fragment
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: int64
                            marks: []
                        key: gqyg71x4p7rD
                    key: JBrnwjizknBX
                key: 6dxVDs77RkoX
                fragment: 84jkFqbb0067
                type: table-cell
              - object: fragment
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: >-
                              Snapshot event time — Unix milliseconds when the
                              matching engine produced the snapshot.
                            marks: []
                        key: Oz8iBuu0jH4b
                    key: Si3IkTqt31p4
                key: L1WzeJybqvhZ
                fragment: 59uUqNnPtnBM
                type: table-cell
              - object: fragment
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: T
                            marks:
                              - object: mark
                                type: code
                                data: {}
                        key: WltoIh9QLVLS
                    key: u4XFLurdp9Y3
                key: ifFHJzbG3nIj
                fragment: 74mFkUOhq4mZ
                type: table-cell
              - object: fragment
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: int64
                            marks: []
                        key: jFtTyNIlNjHo
                    key: h14j0FjqmnUT
                key: vJqm00bSw2tW
                fragment: vGtp5JTQnTzt
                type: table-cell
              - object: fragment
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: "Transaction time — same value as "
                            marks: []
                          - object: leaf
                            text: E
                            marks:
                              - object: mark
                                type: code
                                data: {}
                          - object: leaf
                            text: " for this endpoint. Represents when the orderbook state was captured, "
                            marks: []
                          - object: leaf
                            text: not
                            marks:
                              - object: mark
                                type: bold
                                data: {}
                          - object: leaf
                            text: " the server response time."
                            marks: []
                        key: QhCAkWDi4D40
                    key: Pg407Q8htLPE
                key: 2JE37gIMFkfT
                fragment: spUumqc1Ttbs
                type: table-cell
              - object: fragment
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: bids
                            marks:
                              - object: mark
                                type: code
                                data: {}
                        key: vdXuS8Dgm5kF
                    key: 9nT0Xkpx4flg
                key: nwi0oUsa2ddQ
                fragment: WMTOaPsGnc5D
                type: table-cell
              - object: fragment
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: string[][]
                            marks: []
                        key: YwHWFljm2RBV
                    key: MEm3APd1Dm3s
                key: vKWFEryStAGv
                fragment: OBZ2JuBa71DG
                type: table-cell
              - object: fragment
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: >-
                              Bid levels sorted best (highest) first. Each entry
                              is
                            marks: []
                          - object: leaf
                            text: "[price, quantity]"
                            marks:
                              - object: mark
                                type: code
                                data: {}
                          - object: leaf
                            text: .
                            marks: []
                        key: mv5IMnPRy8IJ
                    key: OHUgNKl3tet9
                key: MlnpqEOPgzOp
                fragment: 3sxUGaB1hweX
                type: table-cell
              - object: fragment
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: asks
                            marks:
                              - object: mark
                                type: code
                                data: {}
                        key: RBWzSiONDdGW
                    key: 2W1BZELuNgyP
                key: 4ABa0FvTMZYs
                fragment: 5m71FII3PsJJ
                type: table-cell
              - object: fragment
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: string[][]
                            marks: []
                        key: qbQY786oD1l4
                    key: BCqJskKIxB8u
                key: WklI6yCtFuWO
                fragment: C1e6eVSpr7oC
                type: table-cell
              - object: fragment
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: >-
                              Ask levels sorted best (lowest) first. Each entry
                              is
                            marks: []
                          - object: leaf
                            text: "[price, quantity]"
                            marks:
                              - object: mark
                                type: code
                                data: {}
                          - object: leaf
                            text: .
                            marks: []
                        key: aD3VzJD8IGdM
                    key: I18XbDkSBNLh
                key: wN62K1CqPr5V
                fragment: db8c02zKdOQj
                type: table-cell
          - object: block
            type: heading-3
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: Synchronising a local order book with WebSocket
                    marks: []
                key: DSlcz9WeJzG8
            key: 8CfIugvSWSiP
          - object: block
            type: list-ordered
            isVoid: false
            data: {}
            nodes:
              - object: block
                type: list-item
                isVoid: false
                data: {}
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: Initialise
                            marks:
                              - object: mark
                                type: bold
                                data: {}
                          - object: leaf
                            text: " — fetch this endpoint and record "
                            marks: []
                          - object: leaf
                            text: lastUpdateId
                            marks:
                              - object: mark
                                type: code
                                data: {}
                          - object: leaf
                            text: .
                            marks: []
                        key: fxTDBpdjRTQd
                    key: StXwvFDU0e7N
                key: RHrETuKNKtL1
              - object: block
                type: list-item
                isVoid: false
                data: {}
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: Connect
                            marks:
                              - object: mark
                                type: bold
                                data: {}
                          - object: leaf
                            text: " to the WebSocket stream "
                            marks: []
                          - object: leaf
                            text: "{symbol}@depth"
                            marks:
                              - object: mark
                                type: code
                                data: {}
                          - object: leaf
                            text: .
                            marks: []
                        key: 0oWWDTIgSF7P
                    key: eN274tgbVivB
                key: WsQWvSaS0PDN
              - object: block
                type: list-item
                isVoid: false
                data: {}
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: Drop
                            marks:
                              - object: mark
                                type: bold
                                data: {}
                          - object: leaf
                            text: " any WS "
                            marks: []
                          - object: leaf
                            text: depthUpdate
                            marks:
                              - object: mark
                                type: code
                                data: {}
                          - object: leaf
                            text: " event where "
                            marks: []
                          - object: leaf
                            text: u <= lastUpdateId
                            marks:
                              - object: mark
                                type: code
                                data: {}
                          - object: leaf
                            text: .
                            marks: []
                        key: zJ8oLbJF8hVy
                    key: EWL4ibnYCkQr
                key: 3nhnv34MvCxA
              - object: block
                type: list-item
                isVoid: false
                data: {}
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: Apply
                            marks:
                              - object: mark
                                type: bold
                                data: {}
                          - object: leaf
                            text: " all subsequent events to update your local book."
                            marks: []
                        key: 27qKisvynAHX
                    key: MmKjtl2ao92G
                key: yRArfnf7rCDN
            key: RnEWx7ByGZbU
          - object: block
            type: blockquote
            isVoid: false
            data: {}
            nodes:
              - object: block
                type: paragraph
                isVoid: false
                data: {}
                nodes:
                  - object: text
                    leaves:
                      - object: leaf
                        text: "Important:"
                        marks:
                          - object: mark
                            type: bold
                            data: {}
                      - object: leaf
                        text: " per-symbol "
                        marks: []
                      - object: leaf
                        text: "+1"
                        marks:
                          - object: mark
                            type: code
                            data: {}
                      - object: leaf
                        text: " continuity between consecutive "
                        marks: []
                      - object: leaf
                        text: u
                        marks:
                          - object: mark
                            type: code
                            data: {}
                      - object: leaf
                        text: " values is "
                        marks: []
                      - object: leaf
                        text: not
                        marks:
                          - object: mark
                            type: bold
                            data: {}
                      - object: leaf
                        text: " guaranteed — the engine may skip IDs when no book change occurs. Do "
                        marks: []
                      - object: leaf
                        text: not
                        marks:
                          - object: mark
                            type: bold
                            data: {}
                      - object: leaf
                        text: " treat a gap as a missed update."
                        marks: []
                    key: xKCv6Zff3TDp
                key: ULSWQZTkbUKk
            key: I1eymthmoKTd
          - object: block
            type: heading-3
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: JS / TS consumers
                    marks: []
                key: ZPYoj4VEtPAo
            key: 0GQBc75zwSon
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: lastUpdateId
                    marks:
                      - object: mark
                        type: code
                        data: {}
                  - object: leaf
                    text: " (and the WS fields "
                    marks: []
                  - object: leaf
                    text: U
                    marks:
                      - object: mark
                        type: code
                        data: {}
                  - object: leaf
                    text: " / "
                    marks: []
                  - object: leaf
                    text: u
                    marks:
                      - object: mark
                        type: code
                        data: {}
                  - object: leaf
                    text: ") can exceed "
                    marks: []
                  - object: leaf
                    text: Number.MAX_SAFE_INTEGER
                    marks:
                      - object: mark
                        type: code
                        data: {}
                  - object: leaf
                    text: ". Always parse them with a BigInt-safe method:"
                    marks: []
                key: 3oT7Tu5cg9ZB
            key: egelN3675gAy
          - object: block
            type: code
            isVoid: false
            data:
              syntax: ts
            nodes:
              - object: block
                type: code-line
                isVoid: false
                data: {}
                nodes:
                  - object: text
                    leaves:
                      - object: leaf
                        text: // When parsing the REST response
                        marks: []
                    key: zmhfTm86gRpO
                key: NCy9LRqLTZjj
              - object: block
                type: code-line
                isVoid: false
                data: {}
                nodes:
                  - object: text
                    leaves:
                      - object: leaf
                        text: const data = JSON.parse(text, (key, value) => {
                        marks: []
                    key: Cbnpw8TBP8YE
                key: SHQtDZgQsLTZ
              - object: block
                type: code-line
                isVoid: false
                data: {}
                nodes:
                  - object: text
                    leaves:
                      - object: leaf
                        text: '  if (key === "lastUpdateId") return BigInt(value);'
                        marks: []
                    key: e09uNGySLLAl
                key: imywIPjEdgTj
              - object: block
                type: code-line
                isVoid: false
                data: {}
                nodes:
                  - object: text
                    leaves:
                      - object: leaf
                        text: "  return value;"
                        marks: []
                    key: Biako967EUye
                key: 1Y3eYe5VhPX4
              - object: block
                type: code-line
                isVoid: false
                data: {}
                nodes:
                  - object: text
                    leaves:
                      - object: leaf
                        text: "});"
                        marks: []
                    key: jt5RyOg8mf2D
                key: FEfTu26P0Xdr
              - object: block
                type: code-line
                isVoid: false
                data: {}
                nodes:
                  - object: text
                    leaves:
                      - object: leaf
                        text: ""
                        marks: []
                    key: wc1sAVDqmDE4
                key: y5ZfveoxDHwW
              - object: block
                type: code-line
                isVoid: false
                data: {}
                nodes:
                  - object: text
                    leaves:
                      - object: leaf
                        text: // When parsing WS depthUpdate messages
                        marks: []
                    key: jlcrcxPcc9xt
                key: 69fimMy80xtc
              - object: block
                type: code-line
                isVoid: false
                data: {}
                nodes:
                  - object: text
                    leaves:
                      - object: leaf
                        text: const msg = JSON.parse(text, (key, value) => {
                        marks: []
                    key: EZwz1r5uFV9p
                key: RQb1jFv37ETP
              - object: block
                type: code-line
                isVoid: false
                data: {}
                nodes:
                  - object: text
                    leaves:
                      - object: leaf
                        text: '  if (key === "U" || key === "u") return BigInt(value);'
                        marks: []
                    key: CbvhizLdd9WI
                key: uFkcg15Gf81s
              - object: block
                type: code-line
                isVoid: false
                data: {}
                nodes:
                  - object: text
                    leaves:
                      - object: leaf
                        text: "  return value;"
                        marks: []
                    key: LzOxqMdLTaSD
                key: wBo7DvElkfo4
              - object: block
                type: code-line
                isVoid: false
                data: {}
                nodes:
                  - object: text
                    leaves:
                      - object: leaf
                        text: "});"
                        marks: []
                    key: 5pTgVqwRiijn
                key: IclisXyha9P2
            key: AtpJAmrJbilZ
          - object: block
            type: heading-3
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: Caching
                    marks: []
                key: 7vlvgGtTQc0t
            key: t6g1fJH5H4WV
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: "Responses are cached server-side for "
                    marks: []
                  - object: leaf
                    text: 5 seconds
                    marks:
                      - object: mark
                        type: bold
                        data: {}
                  - object: leaf
                    text: " (short-TTL). The "
                    marks: []
                  - object: leaf
                    text: X-Cache
                    marks:
                      - object: mark
                        type: code
                        data: {}
                  - object: leaf
                    text: " response header indicates "
                    marks: []
                  - object: leaf
                    text: HIT
                    marks:
                      - object: mark
                        type: code
                        data: {}
                  - object: leaf
                    text: " or "
                    marks: []
                  - object: leaf
                    text: MISS
                    marks:
                      - object: mark
                        type: code
                        data: {}
                  - object: leaf
                    text: .
                    marks: []
                key: Ew9ZnJITwiIf
            key: C9yWC3GIWbar
        key: gknMsvjAO5U2
      x-gitbook-description-html: >-
        <p>Returns a snapshot of the current order book for a given
        symbol.</p><h3>Field
        semantics</h3><table><thead><tr><th>Field</th><th>Type</th><th>Description</th></tr></thead><tbody><tr><td><code>lastUpdateId</code></td><td>uint64</td><td>Monotonically
        increasing sequence ID assigned by the matching engine
        (<code>ctx.SequenceID</code>). This is a <strong>real update
        ID</strong>, not a placeholder or
        timestamp.</td></tr><tr><td><code>E</code></td><td>int64</td><td>Snapshot
        event time — Unix milliseconds when the matching engine produced the
        snapshot.</td></tr><tr><td><code>T</code></td><td>int64</td><td>Transaction
        time — same value as <code>E</code> for this endpoint. Represents when
        the orderbook state was captured, <strong>not</strong> the server
        response
        time.</td></tr><tr><td><code>bids</code></td><td>string[][]</td><td>Bid
        levels sorted best (highest) first. Each entry is <code>[price,
        quantity]</code>.</td></tr><tr><td><code>asks</code></td><td>string[][]</td><td>Ask
        levels sorted best (lowest) first. Each entry is <code>[price,
        quantity]</code>.</td></tr></tbody></table><h3>Synchronising a local
        order book with WebSocket</h3><ol><li><strong>Initialise</strong> —
        fetch this endpoint and record
        <code>lastUpdateId</code>.</li><li><strong>Connect</strong> to the
        WebSocket stream
        <code>{symbol}@depth</code>.</li><li><strong>Drop</strong> any WS
        <code>depthUpdate</code> event where <code>u &#x3C;=
        lastUpdateId</code>.</li><li><strong>Apply</strong> all subsequent
        events to update your local
        book.</li></ol><blockquote><p><strong>Important:</strong> per-symbol
        <code>+1</code> continuity between consecutive <code>u</code> values is
        <strong>not</strong> guaranteed — the engine may skip IDs when no book
        change occurs. Do <strong>not</strong> treat a gap as a missed
        update.</p></blockquote><h3>JS / TS
        consumers</h3><p><code>lastUpdateId</code> (and the WS fields
        <code>U</code> / <code>u</code>) can exceed
        <code>Number.MAX_SAFE_INTEGER</code>. Always parse them with a
        BigInt-safe method:</p><pre class="language-ts"><code class="lang-ts">//
        When parsing the REST response

        const data = JSON.parse(text, (key, value) => {
          if (key === "lastUpdateId") return BigInt(value);
          return value;
        });


        // When parsing WS depthUpdate messages

        const msg = JSON.parse(text, (key, value) => {
          if (key === "U" || key === "u") return BigInt(value);
          return value;
        });

        </code></pre><h3>Caching</h3><p>Responses are cached server-side for
        <strong>5 seconds</strong> (short-TTL). The <code>X-Cache</code>
        response header indicates <code>HIT</code> or <code>MISS</code>.</p>
  /v2/trades:
    get:
      tags:
        - Trades
      summary: Recent Trades
      description: Returns the most recent trades for a symbol.
      parameters:
        - name: symbol
          in: query
          required: true
          schema:
            type: string
          example: BTC-USDT
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
          description: Number of trades to return. Clamped to 1000.
          x-gitbook-description-html: <p>Number of trades to return. Clamped to 1000.</p>
      responses:
        "200":
          description: List of recent trades
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TradeResponse"
              example:
                - id: 12345
                  price: "43250.10"
                  qty: "0.500"
                  quoteQty: "21625.05"
                  time: 1700000000000
                  isBuyerMaker: false
          x-gitbook-description-html: <p>List of recent trades</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: Returns the most recent trades for a symbol.
                    marks: []
                key: MtM8Vnoqyen2
            key: Hdusbm03f9zJ
        key: 7eHkldEMNDaw
      x-gitbook-description-html: <p>Returns the most recent trades for a symbol.</p>
  /v2/premiumIndex:
    get:
      tags:
        - Prices
      summary: Mark Price / Funding Rate
      description: |
        Returns mark price, index price, and funding rate information.
        Omit `symbol` to return all symbols.
      parameters:
        - name: symbol
          in: query
          required: false
          schema:
            type: string
          example: BTC-USDT
      responses:
        "200":
          description: Premium index data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PremiumIndexResponse"
          x-gitbook-description-html: <p>Premium index data</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: >-
                      Returns mark price, index price, and funding rate
                      information. Omit
                    marks: []
                  - object: leaf
                    text: symbol
                    marks:
                      - object: mark
                        type: code
                        data: {}
                  - object: leaf
                    text: " to return all symbols."
                    marks: []
                key: ubN1msNOTe4w
            key: ZUoU91N6FeMh
        key: kzNE14c9Uotv
      x-gitbook-description-html: >-
        <p>Returns mark price, index price, and funding rate information. Omit
        <code>symbol</code> to return all symbols.</p>
  /v2/markPrice:
    get:
      tags:
        - Prices
      summary: Mark Price
      description: >
        Returns the current mark price snapshot (same shape as the WS
        `markPriceUpdate` event).

        Omit `symbol` to return all symbols.
      parameters:
        - name: symbol
          in: query
          required: false
          schema:
            type: string
          example: BTC-USD
      responses:
        "200":
          description: Mark price snapshot
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarkPriceResponse"
              example:
                e: markPriceUpdate
                E: 1700000000000
                s: BTC-USD
                p: "43250.10"
                i: "43240.50"
                P: "43245.00"
                r: "0.0001"
                T: 1700003600000
          x-gitbook-description-html: <p>Mark price snapshot</p>
        "400":
          description: Invalid symbol
          content:
            application/json:
              example:
                code: INVALID_SYMBOL
                msg: symbol not found
          x-gitbook-description-html: <p>Invalid symbol</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: >-
                      Returns the current mark price snapshot (same shape as the
                      WS
                    marks: []
                  - object: leaf
                    text: markPriceUpdate
                    marks:
                      - object: mark
                        type: code
                        data: {}
                  - object: leaf
                    text: " event). Omit "
                    marks: []
                  - object: leaf
                    text: symbol
                    marks:
                      - object: mark
                        type: code
                        data: {}
                  - object: leaf
                    text: " to return all symbols."
                    marks: []
                key: 4EG9OMINQOQu
            key: tvzmSvABQ6mO
        key: GRh54kvzOKQH
      x-gitbook-description-html: >-
        <p>Returns the current mark price snapshot (same shape as the WS
        <code>markPriceUpdate</code> event). Omit <code>symbol</code> to return
        all symbols.</p>
  /v2/indexPrice:
    get:
      tags:
        - Prices
      summary: Index Price
      description: |
        Returns the current index price snapshot.
        Omit `symbol` to return all symbols.
      parameters:
        - name: symbol
          in: query
          required: false
          schema:
            type: string
          example: BTC-USD
      responses:
        "200":
          description: Index price snapshot
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IndexPriceResponse"
              example:
                e: indexPriceUpdate
                E: 1700000000000
                s: BTC-USD
                p: "43240.50"
          x-gitbook-description-html: <p>Index price snapshot</p>
        "400":
          description: Invalid symbol
          content:
            application/json:
              example:
                code: INVALID_SYMBOL
                msg: symbol not found
          x-gitbook-description-html: <p>Invalid symbol</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: "Returns the current index price snapshot. Omit "
                    marks: []
                  - object: leaf
                    text: symbol
                    marks:
                      - object: mark
                        type: code
                        data: {}
                  - object: leaf
                    text: " to return all symbols."
                    marks: []
                key: i0LEn30ToyP4
            key: zPJ1fK4GjBRC
        key: BAmIOQRXTc9g
      x-gitbook-description-html: >-
        <p>Returns the current index price snapshot. Omit <code>symbol</code> to
        return all symbols.</p>
  /v2/ticker/24hr:
    get:
      tags:
        - Ticker
      summary: 24hr Ticker Statistics
      description: |
        Returns 24-hour rolling window price change statistics.
        Omit `symbol` to return all symbols.
      parameters:
        - name: symbol
          in: query
          required: false
          schema:
            type: string
          example: BTC-USDT
      responses:
        "200":
          description: 24hr ticker data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ticker24hrResponse"
          x-gitbook-description-html: <p>24hr ticker data</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: >-
                      Returns 24-hour rolling window price change statistics.
                      Omit
                    marks: []
                  - object: leaf
                    text: symbol
                    marks:
                      - object: mark
                        type: code
                        data: {}
                  - object: leaf
                    text: " to return all symbols."
                    marks: []
                key: MfiU5eZwlMES
            key: 1czH9PQWTUbL
        key: 7m6vGiPX6ZEf
      x-gitbook-description-html: >-
        <p>Returns 24-hour rolling window price change statistics. Omit
        <code>symbol</code> to return all symbols.</p>
  /v2/ticker/price:
    get:
      tags:
        - Ticker
      summary: Latest Price
      description: |
        Returns the latest price for a symbol.
        Omit `symbol` to return all symbols.
      parameters:
        - name: symbol
          in: query
          required: false
          schema:
            type: string
          example: BTC-USDT
      responses:
        "200":
          description: Latest price
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TickerPriceResponse"
          x-gitbook-description-html: <p>Latest price</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: "Returns the latest price for a symbol. Omit "
                    marks: []
                  - object: leaf
                    text: symbol
                    marks:
                      - object: mark
                        type: code
                        data: {}
                  - object: leaf
                    text: " to return all symbols."
                    marks: []
                key: yhlLhQ9k3afD
            key: 66jwSt3XujXV
        key: qMTYf8lfqiES
      x-gitbook-description-html: >-
        <p>Returns the latest price for a symbol. Omit <code>symbol</code> to
        return all symbols.</p>
  /v2/ticker/bookTicker:
    get:
      tags:
        - Ticker
      summary: Best Bid / Ask
      description: |
        Returns best bid and ask prices and quantities.
        Omit `symbol` to return all symbols.
      parameters:
        - name: symbol
          in: query
          required: false
          schema:
            type: string
          example: BTC-USDT
      responses:
        "200":
          description: Book ticker
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookTickerResponse"
          x-gitbook-description-html: <p>Book ticker</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: "Returns best bid and ask prices and quantities. Omit "
                    marks: []
                  - object: leaf
                    text: symbol
                    marks:
                      - object: mark
                        type: code
                        data: {}
                  - object: leaf
                    text: " to return all symbols."
                    marks: []
                key: BECLmKNT2D5g
            key: VsIRzU6fTkUg
        key: kdCoHGxxX74h
      x-gitbook-description-html: >-
        <p>Returns best bid and ask prices and quantities. Omit
        <code>symbol</code> to return all symbols.</p>
  /v2/exchangeInfo:
    get:
      tags:
        - Exchange Info
      summary: Exchange Information
      description: Returns trading rules and symbol information for all listed markets.
      responses:
        "200":
          description: Exchange info
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExchangeInfoResponse"
          x-gitbook-description-html: <p>Exchange info</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: >-
                      Returns trading rules and symbol information for all
                      listed markets.
                    marks: []
                key: 8waiVNEoHRBK
            key: eoXbetWLRHHb
        key: 2FTs95zMLDkJ
      x-gitbook-description-html: >-
        <p>Returns trading rules and symbol information for all listed
        markets.</p>
  /v2/openInterest:
    get:
      tags:
        - Open Interest
      summary: Open Interest
      description: |
        Returns current open interest in base-asset units.
        Omit `symbol` to return all symbols.
      parameters:
        - name: symbol
          in: query
          required: false
          schema:
            type: string
          example: BTCUSD
      responses:
        "200":
          description: Open interest data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenInterestResponse"
          x-gitbook-description-html: <p>Open interest data</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: "Returns current open interest in base-asset units. Omit "
                    marks: []
                  - object: leaf
                    text: symbol
                    marks:
                      - object: mark
                        type: code
                        data: {}
                  - object: leaf
                    text: " to return all symbols."
                    marks: []
                key: genvIORqrLlE
            key: 5Dj9E1SRDH78
        key: vtwjIGb6rqAU
      x-gitbook-description-html: >-
        <p>Returns current open interest in base-asset units. Omit
        <code>symbol</code> to return all symbols.</p>
components:
  schemas:
    OrderBookResponse:
      type: object
      properties:
        lastUpdateId:
          type: integer
          format: uint64
          description: Engine sequence ID. Monotonically increasing, **not** a timestamp.
          x-gitbook-description-html: >-
            <p>Engine sequence ID. Monotonically increasing,
            <strong>not</strong> a timestamp.</p>
        E:
          type: integer
          format: int64
          description: Snapshot event time (Unix ms).
          x-gitbook-description-html: <p>Snapshot event time (Unix ms).</p>
        T:
          type: integer
          format: int64
          description: Transaction time (Unix ms). Same value as `E` on this endpoint.
          x-gitbook-description-html: >-
            <p>Transaction time (Unix ms). Same value as <code>E</code> on this
            endpoint.</p>
        bids:
          type: array
          items:
            type: array
            items:
              type: string
          description: "Bid levels, best first. Each entry: `[price, quantity]`."
          x-gitbook-description-html: >-
            <p>Bid levels, best first. Each entry: <code>[price,
            quantity]</code>.</p>
        asks:
          type: array
          items:
            type: array
            items:
              type: string
          description: "Ask levels, best first. Each entry: `[price, quantity]`."
          x-gitbook-description-html: >-
            <p>Ask levels, best first. Each entry: <code>[price,
            quantity]</code>.</p>
    TradeResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
        price:
          type: string
        qty:
          type: string
        quoteQty:
          type: string
        time:
          type: integer
          format: int64
          description: Trade timestamp (Unix ms).
          x-gitbook-description-html: <p>Trade timestamp (Unix ms).</p>
        isBuyerMaker:
          type: boolean
    PremiumIndexResponse:
      type: object
      properties:
        symbol:
          type: string
        markPrice:
          type: string
        indexPrice:
          type: string
        estimatedSettlePrice:
          type: string
        lastFundingRate:
          type: string
        nextFundingTime:
          type: integer
          format: int64
        interestRate:
          type: string
        time:
          type: integer
          format: int64
    Ticker24hrResponse:
      type: object
      properties:
        symbol:
          type: string
        priceChange:
          type: string
        priceChangePercent:
          type: string
        weightedAvgPrice:
          type: string
        lastPrice:
          type: string
        lastQty:
          type: string
        openPrice:
          type: string
        highPrice:
          type: string
        lowPrice:
          type: string
        volume:
          type: string
        quoteVolume:
          type: string
        openTime:
          type: integer
          format: int64
        closeTime:
          type: integer
          format: int64
        firstId:
          type: integer
          format: int64
        lastId:
          type: integer
          format: int64
        count:
          type: integer
          format: int64
    TickerPriceResponse:
      type: object
      properties:
        symbol:
          type: string
        price:
          type: string
        time:
          type: integer
          format: int64
    BookTickerResponse:
      type: object
      properties:
        symbol:
          type: string
        bidPrice:
          type: string
        bidQty:
          type: string
        askPrice:
          type: string
        askQty:
          type: string
        time:
          type: integer
          format: int64
    ExchangeInfoResponse:
      type: object
      properties:
        timezone:
          type: string
        serverTime:
          type: integer
          format: int64
        rateLimits:
          type: array
          items:
            $ref: "#/components/schemas/RateLimit"
        symbols:
          type: array
          items:
            $ref: "#/components/schemas/SymbolInfo"
    RateLimit:
      type: object
      properties:
        rateLimitType:
          type: string
        interval:
          type: string
        intervalNum:
          type: integer
        limit:
          type: integer
    SymbolInfo:
      type: object
      properties:
        symbol:
          type: string
        pair:
          type: string
        contractType:
          type: string
          example: PERPETUAL
        status:
          type: string
        baseAsset:
          type: string
        quoteAsset:
          type: string
        marginAsset:
          type: string
        pricePrecision:
          type: integer
        quantityPrecision:
          type: integer
        baseAssetPrecision:
          type: integer
        quotePrecision:
          type: integer
        underlyingType:
          type: string
        underlyingSubType:
          type: array
          items:
            type: string
        settlePlan:
          type: integer
        triggerProtect:
          type: string
        liquidationFee:
          type: string
        limitTakeBound:
          type: string
        marketTakeBound:
          type: string
        filters:
          type: array
          items:
            $ref: "#/components/schemas/FilterInfo"
        orderType:
          type: array
          items:
            type: string
        timeInForce:
          type: array
          items:
            type: string
    FilterInfo:
      type: object
      properties:
        filterType:
          type: string
        maxPrice:
          type: string
        minPrice:
          type: string
        tickSize:
          type: string
        maxQty:
          type: string
        minQty:
          type: string
        stepSize:
          type: string
        limit:
          type: integer
        notional:
          type: string
        multiplierUp:
          type: string
        multiplierDown:
          type: string
        multiplierDecimal:
          type: string
    MarkPriceResponse:
      type: object
      properties:
        e:
          type: string
          description: Event type (`markPriceUpdate`).
          x-gitbook-description-html: <p>Event type (<code>markPriceUpdate</code>).</p>
        E:
          type: integer
          format: int64
          description: Event time (Unix ms).
          x-gitbook-description-html: <p>Event time (Unix ms).</p>
        s:
          type: string
          description: Symbol.
          x-gitbook-description-html: <p>Symbol.</p>
        p:
          type: string
          description: Mark price.
          x-gitbook-description-html: <p>Mark price.</p>
        i:
          type: string
          description: Index price.
          x-gitbook-description-html: <p>Index price.</p>
        P:
          type: string
          description: Estimated settle price.
          x-gitbook-description-html: <p>Estimated settle price.</p>
        r:
          type: string
          description: Funding rate.
          x-gitbook-description-html: <p>Funding rate.</p>
        T:
          type: integer
          format: int64
          description: Next funding time (Unix ms).
          x-gitbook-description-html: <p>Next funding time (Unix ms).</p>
    IndexPriceResponse:
      type: object
      properties:
        e:
          type: string
          description: Event type (`indexPriceUpdate`).
          x-gitbook-description-html: <p>Event type (<code>indexPriceUpdate</code>).</p>
        E:
          type: integer
          format: int64
          description: Event time (Unix ms).
          x-gitbook-description-html: <p>Event time (Unix ms).</p>
        s:
          type: string
          description: Symbol.
          x-gitbook-description-html: <p>Symbol.</p>
        p:
          type: string
          description: Index price.
          x-gitbook-description-html: <p>Index price.</p>
    OpenInterestResponse:
      type: object
      properties:
        symbol:
          type: string
        openInterest:
          type: string
          description: Open interest in base-asset units.
          x-gitbook-description-html: <p>Open interest in base-asset units.</p>
        time:
          type: integer
          format: int64
