openapi: 3.0.3
info:
  title: Strike Perpetuals - Trade REST API
  description: Order management endpoints for Strike Perpetuals trading platform.
  version: 2.1.0
  contact:
    name: Strike Finance
    url: https://www.strikefinance.org
  x-gitbook-description-document:
    object: document
    data:
      schemaVersion: 9
    nodes:
      - object: block
        type: paragraph
        isVoid: false
        data: {}
        nodes:
          - object: text
            leaves:
              - object: leaf
                text: >-
                  Order management endpoints for Strike Perpetuals trading
                  platform.
                marks: []
            key: 0E15jKlTafyw
        key: WWNOkXuD9VlB
    key: 0faqT1VhXDpz
  x-gitbook-description-html: <p>Order management endpoints for Strike Perpetuals trading platform.</p>
servers:
  - url: https://api.strikefinance.org
    description: Mainnet
    x-gitbook-description-html: <p>Mainnet</p>
  - url: https://api-v2-testnet.strikefinance.org
    description: Testnet
    x-gitbook-description-html: <p>Testnet</p>
tags:
  - name: Orders
    description: Order management (create, cancel, query)
    x-gitbook-description-document:
      object: document
      data:
        schemaVersion: 9
      nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
            - object: text
              leaves:
                - object: leaf
                  text: Order management (create, cancel, query)
                  marks: []
              key: B1bcAqS3rzDG
          key: 8XpSMFv3aq19
      key: gL0hDflvScSS
    x-gitbook-description-html: <p>Order management (create, cancel, query)</p>
  - name: Trading
    description: Leverage, margin mode, and isolated margin operations
    x-gitbook-description-document:
      object: document
      data:
        schemaVersion: 9
      nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
            - object: text
              leaves:
                - object: leaf
                  text: Leverage, margin mode, and isolated margin operations
                  marks: []
              key: 6LWgQ4oEH81I
          key: cMQRDZt0IQk6
      key: MX2PbtQjj57Z
    x-gitbook-description-html: <p>Leverage, margin mode, and isolated margin operations</p>
security:
  - ApiWalletAuth: []
components:
  securitySchemes:
    ApiWalletAuth:
      type: apiKey
      in: header
      name: X-API-Wallet-Public-Key
      description: >
        Ed25519 signature-based authentication using API Wallets.


        **Required Headers:**

        - `X-API-Wallet-Public-Key`: Your Ed25519 public key (64 hex characters)

        - `X-API-Wallet-Signature`: Ed25519 signature of the message (128 hex
        characters)

        - `X-API-Wallet-Timestamp`: Unix timestamp in seconds

        - `X-API-Wallet-Nonce`: Unique UUID v4 per request


        **Signature Message Format:**

        ```

        {METHOD}:{PATH}:{TIMESTAMP}:{NONCE}:{BODY_HASH}

        ```
      x-gitbook-description-html: >-
        <p>Ed25519 signature-based authentication using API Wallets.</p>

        <p><strong>Required Headers:</strong></p>

        <ul>

        <li><code>X-API-Wallet-Public-Key</code>: Your Ed25519 public key (64
        hex characters)</li>

        <li><code>X-API-Wallet-Signature</code>: Ed25519 signature of the
        message (128 hex characters)</li>

        <li><code>X-API-Wallet-Timestamp</code>: Unix timestamp in seconds</li>

        <li><code>X-API-Wallet-Nonce</code>: Unique UUID v4 per request</li>

        </ul>

        <p><strong>Signature Message Format:</strong></p>

        <pre><code>{METHOD}:{PATH}:{TIMESTAMP}:{NONCE}:{BODY_HASH}

        </code></pre>
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
          x-gitbook-description-html: <p>Error message</p>
        code:
          type: string
          description: Error code
          x-gitbook-description-html: <p>Error code</p>
        msg:
          type: string
          description: Error message (alternative format)
          x-gitbook-description-html: <p>Error message (alternative format)</p>
      required:
        - error
    CreateOrderRequest:
      type: object
      required:
        - symbol
        - side
        - type
        - size
      properties:
        client_order_id:
          type: string
          description: Client-provided order ID for tracking
          example: my-order-001
          x-gitbook-description-html: <p>Client-provided order ID for tracking</p>
        symbol:
          type: string
          description: Trading pair symbol
          example: BTC-USD
          x-gitbook-description-html: <p>Trading pair symbol</p>
        side:
          type: string
          enum:
            - buy
            - sell
          description: Order side
          example: buy
          x-gitbook-description-html: <p>Order side</p>
        type:
          type: string
          enum:
            - limit
            - market
            - stop
            - stop_limit
            - take_profit
            - take_profit_limit
          description: Order type
          example: limit
          x-gitbook-description-html: <p>Order type</p>
        size:
          type: string
          description: Order size in base asset
          example: '0.1'
          x-gitbook-description-html: <p>Order size in base asset</p>
        price:
          type: string
          description: Order price (required for limit orders)
          example: '50000.00'
          x-gitbook-description-html: <p>Order price (required for limit orders)</p>
        stop_price:
          type: string
          description: Trigger price for conditional orders
          example: '49500.00'
          x-gitbook-description-html: <p>Trigger price for conditional orders</p>
        time_in_force:
          type: string
          enum:
            - GTC
            - IOC
            - FOK
          default: GTC
          description: |
            Time in force:
            - GTC: Good Till Cancel
            - IOC: Immediate Or Cancel
            - FOK: Fill Or Kill
          example: GTC
          x-gitbook-description-html: |-
            <p>Time in force:</p>
            <ul>
            <li>GTC: Good Till Cancel</li>
            <li>IOC: Immediate Or Cancel</li>
            <li>FOK: Fill Or Kill</li>
            </ul>
        working_type:
          type: string
          enum:
            - mark_price
            - contract_price
          default: mark_price
          description: Price type for trigger evaluation
          x-gitbook-description-html: <p>Price type for trigger evaluation</p>
        post_only:
          type: boolean
          default: false
          description: If true, order will only be maker
          x-gitbook-description-html: <p>If true, order will only be maker</p>
        reduce_only:
          type: boolean
          default: false
          description: If true, order can only reduce position
          x-gitbook-description-html: <p>If true, order can only reduce position</p>
        close_position:
          type: boolean
          default: false
          description: If true, closes entire position when triggered
          x-gitbook-description-html: <p>If true, closes entire position when triggered</p>
        price_protect:
          type: boolean
          default: false
          description: If true, enables price protection
          x-gitbook-description-html: <p>If true, enables price protection</p>
        vault_id:
          type: string
          description: Optional vault ID to trade on behalf of a vault (leader only)
          example: vault-abc-123
          x-gitbook-description-html: <p>Optional vault ID to trade on behalf of a vault (leader only)</p>
    CreateOrderResponse:
      type: object
      properties:
        client_order_id:
          type: string
          description: Client-provided order ID
          example: my-order-001
          x-gitbook-description-html: <p>Client-provided order ID</p>
        account_id:
          type: string
          description: Account ID
          example: 01234567-89ab-cdef-0123-456789abcdef
          x-gitbook-description-html: <p>Account ID</p>
        symbol:
          type: string
          description: Trading pair symbol
          example: BTC-USD
          x-gitbook-description-html: <p>Trading pair symbol</p>
        sequence_id:
          type: integer
          format: int64
          description: Sequence ID for ordering
          example: 789012
          x-gitbook-description-html: <p>Sequence ID for ordering</p>
        message_id:
          type: string
          description: Message ID for tracking
          example: msg_xyz
          x-gitbook-description-html: <p>Message ID for tracking</p>
    Order:
      type: object
      description: |
        Order model. Field names are PascalCase in JSON responses.
      properties:
        ID:
          type: integer
          format: int64
          description: Order ID
          example: 123456
          x-gitbook-description-html: <p>Order ID</p>
        ClientOrderID:
          type: string
          description: Client order ID
          example: my-order-001
          x-gitbook-description-html: <p>Client order ID</p>
        AccountID:
          type: string
          description: Account ID
          example: 01234567-89ab-cdef-0123-456789abcdef
          x-gitbook-description-html: <p>Account ID</p>
        Symbol:
          type: string
          description: Trading pair
          example: BTC-USD
          x-gitbook-description-html: <p>Trading pair</p>
        Strategy:
          type: object
          nullable: true
          description: Strategy linkage (only present for strategy orders)
          x-gitbook-description-html: <p>Strategy linkage (only present for strategy orders)</p>
          properties:
            ID:
              type: string
              description: Strategy ID
              x-gitbook-description-html: <p>Strategy ID</p>
            IsPrimary:
              type: boolean
              description: Whether this is the primary order in the strategy
              x-gitbook-description-html: <p>Whether this is the primary order in the strategy</p>
        CloseReason:
          type: string
          description: Explains why the order was closed
          example: ''
          x-gitbook-description-html: <p>Explains why the order was closed</p>
        Side:
          type: string
          enum:
            - buy
            - sell
            - none
          description: Order side
          example: buy
          x-gitbook-description-html: <p>Order side</p>
        Status:
          type: string
          enum:
            - pending
            - open
            - filled
            - canceled
            - untriggered
            - rejected
            - expired
            - none
          description: Order status
          example: filled
          x-gitbook-description-html: <p>Order status</p>
        Type:
          type: string
          enum:
            - limit
            - market
            - stop
            - stop_limit
            - take_profit
            - take_profit_limit
          description: Order type
          example: limit
          x-gitbook-description-html: <p>Order type</p>
        OriginType:
          type: string
          enum:
            - limit
            - market
            - stop
            - stop_limit
            - take_profit
            - take_profit_limit
          description: Original type of a triggered conditional order
          example: stop_limit
          x-gitbook-description-html: <p>Original type of a triggered conditional order</p>
        AutoCloseType:
          type: string
          enum:
            - liquidation
            - adl
            - bankrupt
            - if_transfer
            - ''
          description: Auto-close type (for liquidation/ADL orders)
          example: ''
          x-gitbook-description-html: <p>Auto-close type (for liquidation/ADL orders)</p>
        TimeInForce:
          type: string
          enum:
            - GTC
            - IOC
            - FOK
          description: Time in force
          example: GTC
          x-gitbook-description-html: <p>Time in force</p>
        WorkingType:
          type: string
          enum:
            - mark_price
            - contract_price
            - none
          description: Working type for triggers
          example: mark_price
          x-gitbook-description-html: <p>Working type for triggers</p>
        Size:
          type: string
          description: Original order size
          example: '0.1'
          x-gitbook-description-html: <p>Original order size</p>
        Filled:
          type: string
          description: Filled quantity
          example: '0.1'
          x-gitbook-description-html: <p>Filled quantity</p>
        Price:
          type: string
          description: Order price
          example: '50000.00'
          x-gitbook-description-html: <p>Order price</p>
        StopPrice:
          type: string
          description: Stop/trigger price
          example: '0'
          x-gitbook-description-html: <p>Stop/trigger price</p>
        BoundPrice:
          type: string
          description: Bound price for market orders
          example: '0'
          x-gitbook-description-html: <p>Bound price for market orders</p>
        PostOnly:
          type: boolean
          description: Post-only flag
          example: false
          x-gitbook-description-html: <p>Post-only flag</p>
        ReduceOnly:
          type: boolean
          description: Reduce-only flag
          example: false
          x-gitbook-description-html: <p>Reduce-only flag</p>
        ClosePosition:
          type: boolean
          description: Close position flag
          example: false
          x-gitbook-description-html: <p>Close position flag</p>
        PriceProtect:
          type: boolean
          description: Price protection flag
          example: false
          x-gitbook-description-html: <p>Price protection flag</p>
        CreateTimestamp:
          type: integer
          format: int64
          description: When the API received the order (ms)
          example: 1704067200000
          x-gitbook-description-html: <p>When the API received the order (ms)</p>
        EntryTimestamp:
          type: integer
          format: int64
          description: When the engine received the order (ms)
          example: 1704067200050
          x-gitbook-description-html: <p>When the engine received the order (ms)</p>
        EventTimestamp:
          type: integer
          format: int64
          description: Last event time (ms)
          example: 1704067200150
          x-gitbook-description-html: <p>Last event time (ms)</p>
      x-gitbook-description-html: <p>Order model. Field names are PascalCase in JSON responses.</p>
    CancelOrderRequest:
      type: object
      required:
        - order_id
        - symbol
      properties:
        order_id:
          type: integer
          format: int64
          description: Order ID to cancel
          example: 123456
          x-gitbook-description-html: <p>Order ID to cancel</p>
        symbol:
          type: string
          description: Trading pair symbol
          example: BTC-USD
          x-gitbook-description-html: <p>Trading pair symbol</p>
        vault_id:
          type: string
          description: Optional vault ID to cancel on behalf of a vault (leader only)
          example: vault-abc-123
          x-gitbook-description-html: >-
            <p>Optional vault ID to cancel on behalf of a vault (leader
            only)</p>
    CancelOrderResponse:
      type: object
      properties:
        order_id:
          type: integer
          format: int64
          description: Canceled order ID
          example: 123456
          x-gitbook-description-html: <p>Canceled order ID</p>
        symbol:
          type: string
          description: Trading pair symbol
          example: BTC-USD
          x-gitbook-description-html: <p>Trading pair symbol</p>
        sequence_id:
          type: integer
          format: int64
          description: Sequence ID
          example: 789012
          x-gitbook-description-html: <p>Sequence ID</p>
        message_id:
          type: string
          description: Message ID
          example: msg_xyz
          x-gitbook-description-html: <p>Message ID</p>
    CancelAllOrdersRequest:
      type: object
      properties:
        symbol:
          type: string
          description: >-
            Optional symbol filter. If empty, cancels all orders across all
            symbols.
          example: BTC-USD
          x-gitbook-description-html: >-
            <p>Optional symbol filter. If empty, cancels all orders across all
            symbols.</p>
        vault_id:
          type: string
          description: Optional vault ID to cancel on behalf of a vault (leader only)
          example: vault-abc-123
          x-gitbook-description-html: >-
            <p>Optional vault ID to cancel on behalf of a vault (leader
            only)</p>
    CancelAllOrdersResponse:
      type: object
      properties:
        account_id:
          type: string
          description: Account ID
          example: 01234567-89ab-cdef-0123-456789abcdef
          x-gitbook-description-html: <p>Account ID</p>
        symbol:
          type: string
          description: Symbol filter used
          example: BTC-USD
          x-gitbook-description-html: <p>Symbol filter used</p>
        canceled_count:
          type: integer
          description: Number of orders canceled (-1 = async, count not available)
          example: -1
          x-gitbook-description-html: <p>Number of orders canceled (-1 = async, count not available)</p>
        sequence_id:
          type: integer
          format: int64
          description: Sequence ID
          example: 789012
          x-gitbook-description-html: <p>Sequence ID</p>
        message_id:
          type: string
          description: Message ID
          example: msg_xyz
          x-gitbook-description-html: <p>Message ID</p>
    OpenOrdersResponse:
      type: object
      properties:
        orders:
          type: array
          items:
            $ref: '#/components/schemas/Order'
        count:
          type: integer
          description: Number of open orders
          example: 5
          x-gitbook-description-html: <p>Number of open orders</p>
    StrategyOrderDetails:
      type: object
      required:
        - type
        - size
        - stop_price
      properties:
        client_order_id:
          type: string
          description: Client order ID for this leg
          example: tp-001
          x-gitbook-description-html: <p>Client order ID for this leg</p>
        type:
          type: string
          enum:
            - take_profit
            - take_profit_limit
            - stop
            - stop_limit
          description: Order type for TP/SL leg
          example: take_profit
          x-gitbook-description-html: <p>Order type for TP/SL leg</p>
        size:
          type: string
          description: Order size
          example: '0.1'
          x-gitbook-description-html: <p>Order size</p>
        price:
          type: string
          description: Limit price (for limit types)
          example: '52000.00'
          x-gitbook-description-html: <p>Limit price (for limit types)</p>
        stop_price:
          type: string
          description: Trigger price
          example: '52000.00'
          x-gitbook-description-html: <p>Trigger price</p>
        time_in_force:
          type: string
          enum:
            - GTC
            - IOC
            - FOK
          description: Time in force
          example: GTC
          x-gitbook-description-html: <p>Time in force</p>
        working_type:
          type: string
          enum:
            - mark_price
            - contract_price
          description: Working type
          example: mark_price
          x-gitbook-description-html: <p>Working type</p>
        post_only:
          type: boolean
          description: Post-only flag
          example: false
          x-gitbook-description-html: <p>Post-only flag</p>
        price_protect:
          type: boolean
          description: Price protection
          example: false
          x-gitbook-description-html: <p>Price protection</p>
    CreateStrategyOrderRequest:
      type: object
      required:
        - strategy_id
        - symbol
        - side
        - type
        - size
      properties:
        strategy_id:
          type: string
          description: Client-provided strategy ID
          example: strategy-001
          x-gitbook-description-html: <p>Client-provided strategy ID</p>
        client_order_id:
          type: string
          description: Client order ID for primary order
          example: primary-001
          x-gitbook-description-html: <p>Client order ID for primary order</p>
        symbol:
          type: string
          description: Trading pair symbol
          example: BTC-USD
          x-gitbook-description-html: <p>Trading pair symbol</p>
        side:
          type: string
          enum:
            - buy
            - sell
          description: Order side
          example: buy
          x-gitbook-description-html: <p>Order side</p>
        type:
          type: string
          enum:
            - limit
            - market
          description: Primary order type
          example: limit
          x-gitbook-description-html: <p>Primary order type</p>
        size:
          type: string
          description: Order size
          example: '0.1'
          x-gitbook-description-html: <p>Order size</p>
        price:
          type: string
          description: Order price (for limit orders)
          example: '50000.00'
          x-gitbook-description-html: <p>Order price (for limit orders)</p>
        stop_price:
          type: string
          description: Trigger price for conditional primary orders
          example: '49500.00'
          x-gitbook-description-html: <p>Trigger price for conditional primary orders</p>
        time_in_force:
          type: string
          enum:
            - GTC
            - IOC
            - FOK
          description: Time in force
          example: GTC
          x-gitbook-description-html: <p>Time in force</p>
        working_type:
          type: string
          enum:
            - mark_price
            - contract_price
          description: Price type for trigger evaluation
          x-gitbook-description-html: <p>Price type for trigger evaluation</p>
        post_only:
          type: boolean
          default: false
          description: If true, primary order will only be maker
          x-gitbook-description-html: <p>If true, primary order will only be maker</p>
        reduce_only:
          type: boolean
          default: false
          description: If true, primary order can only reduce position
          x-gitbook-description-html: <p>If true, primary order can only reduce position</p>
        close_position:
          type: boolean
          default: false
          description: If true, closes entire position when triggered
          x-gitbook-description-html: <p>If true, closes entire position when triggered</p>
        price_protect:
          type: boolean
          default: false
          description: If true, enables price protection
          x-gitbook-description-html: <p>If true, enables price protection</p>
        vault_id:
          type: string
          description: Optional vault ID to trade on behalf of a vault (leader only)
          example: vault-abc-123
          x-gitbook-description-html: <p>Optional vault ID to trade on behalf of a vault (leader only)</p>
        tp_order:
          $ref: '#/components/schemas/StrategyOrderDetails'
          description: Take-profit order configuration
          x-gitbook-description-html: <p>Take-profit order configuration</p>
        sl_order:
          $ref: '#/components/schemas/StrategyOrderDetails'
          description: Stop-loss order configuration
          x-gitbook-description-html: <p>Stop-loss order configuration</p>
    CreateStrategyOrderResponse:
      type: object
      properties:
        strategy_id:
          type: string
          description: Strategy ID
          example: strategy-001
          x-gitbook-description-html: <p>Strategy ID</p>
        primary_client_order_id:
          type: string
          description: Primary order client ID
          example: primary-001
          x-gitbook-description-html: <p>Primary order client ID</p>
        tp_client_order_id:
          type: string
          description: Take-profit order client ID
          example: tp-001
          x-gitbook-description-html: <p>Take-profit order client ID</p>
        sl_client_order_id:
          type: string
          description: Stop-loss order client ID
          example: sl-001
          x-gitbook-description-html: <p>Stop-loss order client ID</p>
        account_id:
          type: string
          description: Account ID
          example: 01234567-89ab-cdef-0123-456789abcdef
          x-gitbook-description-html: <p>Account ID</p>
        symbol:
          type: string
          description: Trading pair
          example: BTC-USD
          x-gitbook-description-html: <p>Trading pair</p>
        sequence_id:
          type: integer
          format: int64
          description: Sequence ID
          example: 789012
          x-gitbook-description-html: <p>Sequence ID</p>
        message_id:
          type: string
          description: Message ID
          example: msg_xyz
          x-gitbook-description-html: <p>Message ID</p>
    CreateBatchOrdersRequest:
      type: object
      required:
        - orders
      properties:
        orders:
          type: array
          description: Array of orders to create (minimum 1)
          minItems: 1
          items:
            $ref: '#/components/schemas/CreateOrderRequest'
          x-gitbook-description-html: <p>Array of orders to create (minimum 1)</p>
        vault_id:
          type: string
          description: Optional vault ID to trade on behalf of a vault (leader only)
          example: vault-abc-123
          x-gitbook-description-html: <p>Optional vault ID to trade on behalf of a vault (leader only)</p>
    CreateBatchOrdersResponse:
      type: object
      properties:
        successful:
          type: array
          description: Successfully created orders
          items:
            $ref: '#/components/schemas/CreateOrderResponse'
          x-gitbook-description-html: <p>Successfully created orders</p>
        failed:
          type: array
          description: Orders that failed to create
          items:
            type: object
            properties:
              index:
                type: integer
                description: Index of the failed order in the request array
                example: 2
                x-gitbook-description-html: <p>Index of the failed order in the request array</p>
              error:
                type: string
                description: Error message
                example: insufficient margin
                x-gitbook-description-html: <p>Error message</p>
          x-gitbook-description-html: <p>Orders that failed to create</p>
    ReplaceOrderRequest:
      type: object
      required:
        - cancel
        - new_order
      properties:
        cancel:
          $ref: '#/components/schemas/CancelOrderRequest'
          description: The order to cancel
          x-gitbook-description-html: <p>The order to cancel</p>
        new_order:
          $ref: '#/components/schemas/CreateOrderRequest'
          description: The new order to create
          x-gitbook-description-html: <p>The new order to create</p>
        vault_id:
          type: string
          description: Optional vault ID to replace on behalf of a vault (leader only)
          example: vault-abc-123
          x-gitbook-description-html: >-
            <p>Optional vault ID to replace on behalf of a vault (leader
            only)</p>
    ReplaceOrderResponse:
      type: object
      properties:
        cancel:
          $ref: '#/components/schemas/CancelOrderResponse'
        new_order:
          $ref: '#/components/schemas/CreateOrderResponse'
    ReplaceBatchOrdersRequest:
      type: object
      required:
        - replacements
      properties:
        replacements:
          type: array
          description: Array of replace operations (minimum 1)
          minItems: 1
          items:
            $ref: '#/components/schemas/ReplaceOrderRequest'
          x-gitbook-description-html: <p>Array of replace operations (minimum 1)</p>
        vault_id:
          type: string
          description: Optional vault ID to replace on behalf of a vault (leader only)
          example: vault-abc-123
          x-gitbook-description-html: >-
            <p>Optional vault ID to replace on behalf of a vault (leader
            only)</p>
    ReplaceBatchOrdersResponse:
      type: object
      properties:
        results:
          type: array
          description: Results for each replacement operation
          items:
            $ref: '#/components/schemas/ReplaceOrderResponse'
          x-gitbook-description-html: <p>Results for each replacement operation</p>
    LeverageRequest:
      type: object
      required:
        - symbol
        - leverage
      properties:
        symbol:
          type: string
          description: Trading pair symbol
          example: BTC-USD
          x-gitbook-description-html: <p>Trading pair symbol</p>
        leverage:
          type: integer
          minimum: 1
          maximum: 125
          description: New leverage value
          example: 10
          x-gitbook-description-html: <p>New leverage value</p>
        vault_id:
          type: string
          description: >-
            Optional vault ID. When provided, updates leverage for the vault
            account. Caller must be the vault leader.
          x-gitbook-description-html: >-
            <p>Optional vault ID. When provided, updates leverage for the vault
            account. Caller must be the vault leader.</p>
    LeverageResponse:
      type: object
      properties:
        leverage:
          type: integer
          description: New leverage value
          example: 10
          x-gitbook-description-html: <p>New leverage value</p>
        maxNotionalValue:
          type: string
          description: Maximum notional value at this leverage
          example: '1000000'
          x-gitbook-description-html: <p>Maximum notional value at this leverage</p>
        symbol:
          type: string
          description: Trading pair symbol
          example: BTC-USD
          x-gitbook-description-html: <p>Trading pair symbol</p>
    MarginModeRequest:
      type: object
      required:
        - symbol
        - marginMode
      properties:
        symbol:
          type: string
          description: Trading pair symbol
          example: BTC-USD
          x-gitbook-description-html: <p>Trading pair symbol</p>
        marginMode:
          type: string
          enum:
            - cross
            - isolated
          description: New margin mode
          example: isolated
          x-gitbook-description-html: <p>New margin mode</p>
        vault_id:
          type: string
          description: >-
            Optional vault ID. When provided, updates margin mode for the vault
            account. Caller must be the vault leader.
          x-gitbook-description-html: >-
            <p>Optional vault ID. When provided, updates margin mode for the
            vault account. Caller must be the vault leader.</p>
    MarginModeResponse:
      type: object
      properties:
        marginMode:
          type: string
          description: New margin mode
          example: isolated
          x-gitbook-description-html: <p>New margin mode</p>
        symbol:
          type: string
          description: Trading pair symbol
          example: BTC-USD
          x-gitbook-description-html: <p>Trading pair symbol</p>
    ModifyMarginRequest:
      type: object
      required:
        - symbol
        - amount
        - modify_type
      properties:
        symbol:
          type: string
          description: Trading pair symbol
          example: BTC-USD
          x-gitbook-description-html: <p>Trading pair symbol</p>
        amount:
          type: string
          description: Amount to add or remove
          example: '500.00'
          x-gitbook-description-html: <p>Amount to add or remove</p>
        modify_type:
          type: string
          description: Modify type (add|remove)
          example: add|remove
          x-gitbook-description-html: <p>Modify type (add|remove)</p>
        vault_id:
          type: string
          description: >-
            Optional vault ID. When provided, modifies margin for the vault's
            isolated position. Caller must be the vault leader.
          x-gitbook-description-html: >-
            <p>Optional vault ID. When provided, modifies margin for the vault's
            isolated position. Caller must be the vault leader.</p>
    ModifyMarginResponse:
      type: object
      properties:
        symbol:
          type: string
          description: Trading pair symbol
          example: BTC-USD
          x-gitbook-description-html: <p>Trading pair symbol</p>
        sequence_id:
          type: integer
          format: int64
          description: Sequence ID
          example: 789012
          x-gitbook-description-html: <p>Sequence ID</p>
        message_id:
          type: string
          description: Message ID
          example: msg_xyz
          x-gitbook-description-html: <p>Message ID</p>
  responses:
    MissingParameter:
      description: Missing required parameter
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: MISSING_PARAMETER
            code: MISSING_PARAMETER
            msg: symbol parameter is required
      x-gitbook-description-html: <p>Missing required parameter</p>
    InvalidParameter:
      description: Invalid parameter value
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: INVALID_PARAMETER
            code: INVALID_PARAMETER
            msg: invalid parameter
      x-gitbook-description-html: <p>Invalid parameter value</p>
    Unauthorized:
      description: Unauthorized - missing or invalid API wallet authentication
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            missing_headers:
              summary: Missing authentication headers
              value:
                error: missing API wallet authentication headers
            invalid_signature:
              summary: Invalid or expired signature
              value:
                error: authentication failed
      x-gitbook-description-html: <p>Unauthorized - missing or invalid API wallet authentication</p>
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: not found
      x-gitbook-description-html: <p>Resource not found</p>
paths:
  /v2/order:
    post:
      tags:
        - Orders
      summary: Create new order
      description: |
        Create a new order. Supports the following order types:

        | Type | Description |
        |------|-------------|
        | `limit` | Limit order at specified price |
        | `market` | Market order at best available price |
        | `stop` | Stop market order triggered at stop_price |
        | `stop_limit` | Stop limit order triggered at stop_price |
        | `take_profit` | Take profit market order |
        | `take_profit_limit` | Take profit limit order |
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
            examples:
              limit_order:
                summary: Limit buy order
                value:
                  symbol: BTC-USD
                  side: buy
                  type: limit
                  size: '0.1'
                  price: '50000.00'
                  time_in_force: GTC
              market_order:
                summary: Market sell order
                value:
                  symbol: BTC-USD
                  side: sell
                  type: market
                  size: '0.1'
              stop_order:
                summary: Stop loss order
                value:
                  symbol: BTC-USD
                  side: sell
                  type: stop
                  size: '0.1'
                  stop_price: '48000.00'
                  reduce_only: true
      responses:
        '201':
          description: Order created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrderResponse'
          x-gitbook-description-html: <p>Order created successfully</p>
        '400':
          $ref: '#/components/responses/InvalidParameter'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: 'Create a new order. Supports the following order types:'
                    marks: []
                key: 1v1YSLI39F4j
            key: nQDJSP0b1Htb
          - object: block
            type: table
            isVoid: true
            data:
              records:
                vvTkvRyzcKxt:
                  orderIndex: '0|hzzzjj:'
                  values:
                    o2F3wrIfqUeG: A8S1YXBWIHAO
                    TBtGqah4UPCS: VSPOEL48Ibkm
                d70169r7Ym2y:
                  orderIndex: '0|hzzzk7:'
                  values:
                    o2F3wrIfqUeG: SBwQTRCrPAmw
                    TBtGqah4UPCS: JUt942IhwJfN
                Y67kPhxQwqdy:
                  orderIndex: '0|hzzzpj:'
                  values:
                    o2F3wrIfqUeG: fCK5evdRL4KS
                    TBtGqah4UPCS: OHZM5CNFWU37
                9sspl6WDzvjJ:
                  orderIndex: '0|i00073:'
                  values:
                    o2F3wrIfqUeG: PAIrYd1zFs22
                    TBtGqah4UPCS: 895qQDONSENE
                V7mMQQbTxlJ1:
                  orderIndex: '0|i00087:'
                  values:
                    o2F3wrIfqUeG: BWmCM2LbLiMB
                    TBtGqah4UPCS: 8HadO0ioeNMz
                zFe7em8Q4tiv:
                  orderIndex: '0|i000on:'
                  values:
                    o2F3wrIfqUeG: FYDIMcIFPkII
                    TBtGqah4UPCS: YSggGcaBlAFP
              definition:
                o2F3wrIfqUeG:
                  id: o2F3wrIfqUeG
                  title: Type
                  type: text
                  textAlignment: left
                TBtGqah4UPCS:
                  id: TBtGqah4UPCS
                  title: Description
                  type: text
                  textAlignment: left
              view:
                type: grid
                columns:
                  - o2F3wrIfqUeG
                  - TBtGqah4UPCS
                useNewSizing: true
                hideHeader: false
                columnWidths: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: ''
                    marks: []
                key: v3OFucB69lcG
            key: QOXztRYfmORy
            fragments:
              - object: fragment
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: limit
                            marks:
                              - object: mark
                                type: code
                                data: {}
                        key: wVokpk1ZsAAI
                    key: JMD1Kcjw1Auy
                key: nE5pmYHqOnDw
                fragment: A8S1YXBWIHAO
                type: table-cell
              - object: fragment
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: Limit order at specified price
                            marks: []
                        key: 1R0fl6BZs38s
                    key: 7dQB5Twj7WgC
                key: f2PmWtBfadHX
                fragment: VSPOEL48Ibkm
                type: table-cell
              - object: fragment
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: market
                            marks:
                              - object: mark
                                type: code
                                data: {}
                        key: gSw4tlgGs44d
                    key: dUZZQl93Craq
                key: ArEIAiD4DVPk
                fragment: SBwQTRCrPAmw
                type: table-cell
              - object: fragment
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: Market order at best available price
                            marks: []
                        key: E6sFYusnFjMw
                    key: MY4wrKAT5ADT
                key: yploYGFxTeqB
                fragment: JUt942IhwJfN
                type: table-cell
              - object: fragment
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: stop
                            marks:
                              - object: mark
                                type: code
                                data: {}
                        key: NDp0muL8k5Ym
                    key: FOxTldhWFOmO
                key: vr36QfqiDqnG
                fragment: fCK5evdRL4KS
                type: table-cell
              - object: fragment
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: Stop market order triggered at stop_price
                            marks: []
                        key: nq5vq3vkRS0Q
                    key: WEG49bCnjTlO
                key: 8OqPzdFLJDHY
                fragment: OHZM5CNFWU37
                type: table-cell
              - object: fragment
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: stop_limit
                            marks:
                              - object: mark
                                type: code
                                data: {}
                        key: LMUk5kZsd754
                    key: mHzdVzlOkeHM
                key: exJDq9jBoDeS
                fragment: PAIrYd1zFs22
                type: table-cell
              - object: fragment
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: Stop limit order triggered at stop_price
                            marks: []
                        key: Ma7fshTXPTp6
                    key: R8SfTiqnqDOG
                key: PytCVUA2knRg
                fragment: 895qQDONSENE
                type: table-cell
              - object: fragment
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: take_profit
                            marks:
                              - object: mark
                                type: code
                                data: {}
                        key: ZV9WSldkyuzO
                    key: dTr8mvdMMcAo
                key: tUHc8vEvMG7Y
                fragment: BWmCM2LbLiMB
                type: table-cell
              - object: fragment
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: Take profit market order
                            marks: []
                        key: paq62qVHVKiI
                    key: SLSEbYH2ULVJ
                key: h5ZeVbtMSmU3
                fragment: 8HadO0ioeNMz
                type: table-cell
              - object: fragment
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: take_profit_limit
                            marks:
                              - object: mark
                                type: code
                                data: {}
                        key: dm1xc443fEOj
                    key: E007JwSCuOya
                key: sBslzWaN6xZE
                fragment: FYDIMcIFPkII
                type: table-cell
              - object: fragment
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: Take profit limit order
                            marks: []
                        key: eMqS8XJpsGpm
                    key: DejzsgF3iKgb
                key: 0PhLMelyqprE
                fragment: YSggGcaBlAFP
                type: table-cell
        key: 4mgzbL6KtNae
      x-gitbook-description-html: >-
        <p>Create a new order. Supports the following order
        types:</p><table><thead><tr><th>Type</th><th>Description</th></tr></thead><tbody><tr><td><code>limit</code></td><td>Limit
        order at specified
        price</td></tr><tr><td><code>market</code></td><td>Market order at best
        available price</td></tr><tr><td><code>stop</code></td><td>Stop market
        order triggered at
        stop_price</td></tr><tr><td><code>stop_limit</code></td><td>Stop limit
        order triggered at
        stop_price</td></tr><tr><td><code>take_profit</code></td><td>Take profit
        market
        order</td></tr><tr><td><code>take_profit_limit</code></td><td>Take
        profit limit order</td></tr></tbody></table>
    get:
      tags:
        - Orders
      summary: Get order by ID
      description: >-
        Get a specific order by order_id or client_order_id. At least one ID
        must be provided. Supports unauthenticated access when vault_id is
        provided.
      parameters:
        - name: symbol
          in: query
          required: true
          description: Trading pair symbol
          schema:
            type: string
          example: BTC-USD
          x-gitbook-description-html: <p>Trading pair symbol</p>
        - name: order_id
          in: query
          required: false
          description: Server-assigned order ID
          schema:
            type: integer
            format: int64
          x-gitbook-description-html: <p>Server-assigned order ID</p>
        - name: client_order_id
          in: query
          required: false
          description: Client-provided order ID
          schema:
            type: string
          x-gitbook-description-html: <p>Client-provided order ID</p>
        - name: vault_id
          in: query
          required: false
          description: >-
            Vault ID for public vault order queries (no authentication required
            when provided)
          schema:
            type: string
          x-gitbook-description-html: >-
            <p>Vault ID for public vault order queries (no authentication
            required when provided)</p>
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
          x-gitbook-description-html: <p>Successful response</p>
        '400':
          $ref: '#/components/responses/MissingParameter'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: >-
                      Get a specific order by order_id or client_order_id. At
                      least one ID must be provided. Supports unauthenticated
                      access when vault_id is provided.
                    marks: []
                key: lR1Tk4QWOINx
            key: TEiRGkJniryI
        key: kMGRnp3JcpT0
      x-gitbook-description-html: >-
        <p>Get a specific order by order_id or client_order_id. At least one ID
        must be provided. Supports unauthenticated access when vault_id is
        provided.</p>
  /v2/order/cancel:
    delete:
      tags:
        - Orders
      summary: Cancel order
      description: Cancel a specific order by order_id.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelOrderRequest'
      responses:
        '200':
          description: Cancel request submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelOrderResponse'
          x-gitbook-description-html: <p>Cancel request submitted</p>
        '400':
          $ref: '#/components/responses/InvalidParameter'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: Cancel a specific order by order_id.
                    marks: []
                key: UQT1NIlrqzFt
            key: gueDqL3FE1Uk
        key: lgxDCWtr6enC
      x-gitbook-description-html: <p>Cancel a specific order by order_id.</p>
  /v2/order/cancel-all:
    delete:
      tags:
        - Orders
      summary: Cancel all orders
      description: >-
        Cancel all open orders. Optionally filter by symbol to cancel only
        orders for a specific trading pair.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelAllOrdersRequest'
      responses:
        '200':
          description: Cancel request submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelAllOrdersResponse'
          x-gitbook-description-html: <p>Cancel request submitted</p>
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: >-
                      Cancel all open orders. Optionally filter by symbol to
                      cancel only orders for a specific trading pair.
                    marks: []
                key: hj9EW8w6RLFx
            key: edAALtWGqSlE
        key: eAWEKOFumor8
      x-gitbook-description-html: >-
        <p>Cancel all open orders. Optionally filter by symbol to cancel only
        orders for a specific trading pair.</p>
  /v2/order/strategy:
    post:
      tags:
        - Orders
      summary: Create strategy order (bracket order)
      description: >
        Create a strategy order with optional take-profit (TP) and stop-loss
        (SL) orders.


        **Requirements:**

        - At least one of `tp_order` or `sl_order` must be provided

        - The primary order executes first

        - TP/SL orders are placed when the primary order fills

        - If one TP/SL triggers, the other is automatically canceled
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStrategyOrderRequest'
            examples:
              bracket_order:
                summary: Long position with TP and SL
                value:
                  strategy_id: strategy-001
                  client_order_id: entry-001
                  symbol: BTC-USD
                  side: buy
                  type: limit
                  size: '0.1'
                  price: '50000.00'
                  tp_order:
                    type: take_profit
                    size: '0.1'
                    stop_price: '55000.00'
                  sl_order:
                    type: stop
                    size: '0.1'
                    stop_price: '48000.00'
      responses:
        '201':
          description: Strategy order created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateStrategyOrderResponse'
          x-gitbook-description-html: <p>Strategy order created</p>
        '400':
          $ref: '#/components/responses/InvalidParameter'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: >-
                      Create a strategy order with optional take-profit (TP) and
                      stop-loss (SL) orders.
                    marks: []
                key: nhnQHSvUyMxS
            key: zqHDOSLJijbX
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: 'Requirements:'
                    marks:
                      - object: mark
                        type: bold
                        data: {}
                key: V58WmrAgHf0p
            key: Q3xlDBbVNyn0
          - object: block
            type: list-unordered
            isVoid: false
            data: {}
            nodes:
              - object: block
                type: list-item
                isVoid: false
                data: {}
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: 'At least one of '
                            marks: []
                          - object: leaf
                            text: tp_order
                            marks:
                              - object: mark
                                type: code
                                data: {}
                          - object: leaf
                            text: ' or '
                            marks: []
                          - object: leaf
                            text: sl_order
                            marks:
                              - object: mark
                                type: code
                                data: {}
                          - object: leaf
                            text: ' must be provided'
                            marks: []
                        key: KeizlTud0utX
                    key: oicLGurPjgRO
                key: KK0enMf314OZ
              - object: block
                type: list-item
                isVoid: false
                data: {}
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: The primary order executes first
                            marks: []
                        key: Vq8Zr1bH2gjG
                    key: 9Wa1BhhR7QYq
                key: 3ketQse8TsSG
              - object: block
                type: list-item
                isVoid: false
                data: {}
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: >-
                              TP/SL orders are placed when the primary order
                              fills
                            marks: []
                        key: nhgQ0QiMntUy
                    key: 0NpXajCvW9eV
                key: 9n3Wf3j5PUy7
              - object: block
                type: list-item
                isVoid: false
                data: {}
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: >-
                              If one TP/SL triggers, the other is automatically
                              canceled
                            marks: []
                        key: dJmNEHDCI2z9
                    key: 46VXbFdqJ2Ea
                key: ypPWbldfqSHO
            key: YZ0BvkjALuO9
        key: IjQ4PrrwQtcl
      x-gitbook-description-html: >-
        <p>Create a strategy order with optional take-profit (TP) and stop-loss
        (SL) orders.</p><p><strong>Requirements:</strong></p><ul><li>At least
        one of <code>tp_order</code> or <code>sl_order</code> must be
        provided</li><li>The primary order executes first</li><li>TP/SL orders
        are placed when the primary order fills</li><li>If one TP/SL triggers,
        the other is automatically canceled</li></ul>
  /v2/orders/batch:
    post:
      tags:
        - Orders
      summary: Create batch orders
      description: >
        Create multiple orders in a single request. Each order is processed
        independently — some may succeed while others fail. The response always
        returns HTTP 200 with both successful and failed results.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBatchOrdersRequest'
            examples:
              batch_limit_orders:
                summary: Multiple limit orders
                value:
                  orders:
                    - symbol: BTC-USD
                      side: buy
                      type: limit
                      size: '0.1'
                      price: '49000.00'
                    - symbol: BTC-USD
                      side: buy
                      type: limit
                      size: '0.1'
                      price: '48000.00'
      responses:
        '200':
          description: Batch processing complete (check individual results for failures)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBatchOrdersResponse'
          x-gitbook-description-html: >-
            <p>Batch processing complete (check individual results for
            failures)</p>
        '400':
          $ref: '#/components/responses/InvalidParameter'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-gitbook-description-html: >-
        <p>Create multiple orders in a single request. Each order is processed
        independently — some may succeed while others fail. The response always
        returns HTTP 200 with both successful and failed results.</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: >-
                      Create multiple orders in a single request. Each order is
                      processed independently — some may succeed while others
                      fail. The response always returns HTTP 200 with both
                      successful and failed results.
                    marks: []
                key: gnsSsQxzXy2G
            key: nL1eKTObml7M
        key: zZmTSl4L3hpl
  /v2/order/replace:
    post:
      tags:
        - Orders
      summary: Replace order
      description: >
        Atomically cancel an existing order and create a new one. The cancel is
        executed first; if it fails, the new order is not created.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplaceOrderRequest'
            examples:
              replace_limit:
                summary: Replace a limit order with new price
                value:
                  cancel:
                    order_id: 123456
                    symbol: BTC-USD
                  new_order:
                    symbol: BTC-USD
                    side: buy
                    type: limit
                    size: '0.1'
                    price: '49500.00'
      responses:
        '200':
          description: Order replaced successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplaceOrderResponse'
          x-gitbook-description-html: <p>Order replaced successfully</p>
        '400':
          $ref: '#/components/responses/InvalidParameter'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-gitbook-description-html: >-
        <p>Atomically cancel an existing order and create a new one. The cancel
        is executed first; if it fails, the new order is not created.</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: >-
                      Atomically cancel an existing order and create a new one.
                      The cancel is executed first; if it fails, the new order
                      is not created.
                    marks: []
                key: swjxoa4XhDgJ
            key: gs1EuzgVVTZg
        key: MQJT1gsd1z3Z
  /v2/order/replace-batch:
    post:
      tags:
        - Orders
      summary: Replace batch orders
      description: >
        Replace multiple orders in a single request. Each replacement is an
        atomic cancel + create pair. If any individual cancel fails, the entire
        batch is aborted.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplaceBatchOrdersRequest'
            examples:
              replace_batch:
                summary: Replace multiple limit orders
                value:
                  replacements:
                    - cancel:
                        order_id: 123456
                        symbol: BTC-USD
                      new_order:
                        symbol: BTC-USD
                        side: buy
                        type: limit
                        size: '0.1'
                        price: '49500.00'
                    - cancel:
                        order_id: 123457
                        symbol: BTC-USD
                      new_order:
                        symbol: BTC-USD
                        side: sell
                        type: limit
                        size: '0.1'
                        price: '51500.00'
      responses:
        '200':
          description: Batch replacement complete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplaceBatchOrdersResponse'
          x-gitbook-description-html: <p>Batch replacement complete</p>
        '400':
          $ref: '#/components/responses/InvalidParameter'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-gitbook-description-html: >-
        <p>Replace multiple orders in a single request. Each replacement is an
        atomic cancel + create pair. If any individual cancel fails, the entire
        batch is aborted.</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: >-
                      Replace multiple orders in a single request. Each
                      replacement is an atomic cancel + create pair. If any
                      individual cancel fails, the entire batch is aborted.
                    marks: []
                key: DCYtpd8q13V7
            key: TqGXXRAyZr6p
        key: XS4zanryjFpB
  /v2/openOrders:
    get:
      tags:
        - Orders
      summary: Get open orders
      description: >-
        Get all open orders for the account. Optionally filter by symbol.
        Supports unauthenticated access when vault_id is provided.
      parameters:
        - name: symbol
          in: query
          required: false
          description: Filter by trading pair symbol
          schema:
            type: string
          example: BTC-USD
          x-gitbook-description-html: <p>Filter by trading pair symbol</p>
        - name: vault_id
          in: query
          required: false
          description: >-
            Vault ID for public vault order queries (no authentication required
            when provided)
          schema:
            type: string
          x-gitbook-description-html: >-
            <p>Vault ID for public vault order queries (no authentication
            required when provided)</p>
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenOrdersResponse'
          x-gitbook-description-html: <p>Successful response</p>
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: >-
                      Get all open orders for the account. Optionally filter by
                      symbol. Supports unauthenticated access when vault_id is
                      provided.
                    marks: []
                key: mhIIxVJ3FF6y
            key: znZkAwPGtgPg
        key: 4jaMheHvm9fR
      x-gitbook-description-html: >-
        <p>Get all open orders for the account. Optionally filter by symbol.
        Supports unauthenticated access when vault_id is provided.</p>
  /v2/leverage:
    post:
      tags:
        - Trading
      summary: Update leverage
      description: >
        Update the leverage for a specific symbol.


        **Note:** This affects new positions only. Existing positions are not
        modified.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeverageRequest'
      responses:
        '200':
          description: Leverage updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeverageResponse'
          x-gitbook-description-html: <p>Leverage updated</p>
        '400':
          $ref: '#/components/responses/InvalidParameter'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-gitbook-description-html: >-
        <p>Update the leverage for a specific
        symbol.</p><p><strong>Note:</strong> This affects new positions only.
        Existing positions are not modified.</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: Update the leverage for a specific symbol.
                    marks: []
                key: d7qcn8GbhEVC
            key: yKeGgiykXasp
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: 'Note:'
                    marks:
                      - object: mark
                        type: bold
                        data: {}
                  - object: leaf
                    text: ' This affects new positions only. Existing positions are not modified.'
                    marks: []
                key: YnKlMhtA4I2T
            key: EwEy7OCmzmT4
        key: OM4vjTJ2kBuQ
  /v2/marginMode:
    post:
      tags:
        - Trading
      summary: Update margin mode
      description: >
        Switch between cross and isolated margin mode.


        **Note:** Cannot change margin mode while a position is open for the
        symbol.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarginModeRequest'
      responses:
        '200':
          description: Margin mode updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarginModeResponse'
          x-gitbook-description-html: <p>Margin mode updated</p>
        '400':
          $ref: '#/components/responses/InvalidParameter'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-gitbook-description-html: >-
        <p>Switch between cross and isolated margin
        mode.</p><p><strong>Note:</strong> Cannot change margin mode while a
        position is open for the symbol.</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: Switch between cross and isolated margin mode.
                    marks: []
                key: vAbWHBm6XU2F
            key: hdUYDELTqFxA
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: 'Note:'
                    marks:
                      - object: mark
                        type: bold
                        data: {}
                  - object: leaf
                    text: ' Cannot change margin mode while a position is open for the symbol.'
                    marks: []
                key: oZjm6IGBLrgM
            key: 0uog2R1jGwIf
        key: uIhVUJl5dxHi
  /v2/isoMargin:
    post:
      tags:
        - Trading
      summary: Modify isolated margin
      description: |
        Add or remove margin from an isolated position.

        **Requirements:**
        - Position must exist and be in isolated margin mode
        - Cannot remove more margin than available
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyMarginRequest'
      responses:
        '200':
          description: Margin modification submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyMarginResponse'
          x-gitbook-description-html: <p>Margin modification submitted</p>
        '400':
          $ref: '#/components/responses/InvalidParameter'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-gitbook-description-html: >-
        <p>Add or remove margin from an isolated
        position.</p><p><strong>Requirements:</strong></p><ul><li>Position must
        exist and be in isolated margin mode</li><li>Cannot remove more margin
        than available</li></ul>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: Add or remove margin from an isolated position.
                    marks: []
                key: h6v3sd6JTtv1
            key: eDpxXIQBNZxm
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: 'Requirements:'
                    marks:
                      - object: mark
                        type: bold
                        data: {}
                key: IFtxuomoPo6B
            key: 8fRHOBVyc20l
          - object: block
            type: list-unordered
            isVoid: false
            data: {}
            nodes:
              - object: block
                type: list-item
                isVoid: false
                data: {}
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: Position must exist and be in isolated margin mode
                            marks: []
                        key: npWkHXdhmeor
                    key: B2au1tMY6m8o
                key: yDXBqAYps9eO
              - object: block
                type: list-item
                isVoid: false
                data: {}
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: Cannot remove more margin than available
                            marks: []
                        key: PTjUXL0HFQhT
                    key: w4gn7smIPbip
                key: uhJOaSdVBHHx
            key: ueXcLxPsqujS
        key: TgIx985ancqT
